nav {
  width: 500px;
}
.nav-links {
  list-style: none;
  width: 100%;
}

.nav-link {
  height: 5vh;
  width: 100%;
  margin: 1vh 0;
}

.nav-link p {
  padding-left: 1vh;
  line-height:5vh;
}

.nav-link:hover {
  background-color: #d8dee9;
}
