ul.trays {
  margin-top: 3%;
  padding: 0;
}

li.tray {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

li.tray > p {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  display: inline;
}
