.appointment {
  display: flex;
  flex-direction: row;
}

.appointment > div {
  margin: auto 0 auto 0;
  width: 80%;
}

.appointments {
  height: 50%;
}

.appointments > ul {
  padding: 1vh 0 2vh 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.appointments > ul > li {
  margin-bottom: 1.5vh;
}
